In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
import plotly.express as px

In [ ]:
movies=pd.read_csv('IMDB-Movie-Data.csv')

In [ ]:
movies.head(10)

In [ ]:
movies.info()
movies.describe()

From the above table it is clearly visible that Revenue has some of the movies which gained very high Revenue their is huge gap beetween 50% -75% - max value.

Also, from the above data colum it is understood, Revenue and Metascore column has missing values which needs to be treated. But Revenue of the movie is very sensitive and which we can not relace by Mean, Median or Mode filling.

In [ ]:
df=movies[~movies['Revenue (Millions)'].isnull()].copy()
df.info()

Since Metascore still has few null records left whcih can be replaced using mean value treatment.

In [ ]:
max_metascore =df['Metascore'].mean()
df.Metascore.fillna(max_metascore,inplace=True)

Let us first look at the Revenue of all the movies over period of time.

In [ ]:
sns.boxplot(data=df,x='Year', y='Revenue (Millions)')
plt.show()

We can observe from above plot, Year 2015 and 2009 clearly has datapoint with highest Revenue generating movie.

Which we will observe in our further analysis.

We
 will be adding a column with 1 in all the rows which will be usefull in our further analysis we wil do. Also, for now we will keep our original Table Sorted by Revenue.

In [ ]:
df['cnt']=1

In [ ]:
sns.pairplot(data=df, vars=["Votes", "Revenue (Millions)","Rating",
                            "Runtime (Minutes)","Metascore"])
plt.show()

The above Pairplot gives us the basic understanding on distribution of all the numerical column.

If we look at the Relationship of Revenue and Votes- YOY

In [ ]:
px.scatter(df,x='Revenue (Millions)',y='Votes',size='Votes', 
           color = 'Rating',hover_name='Title',animation_frame='Year',
           title="Distribution of Revenue and Votes")

From the above plot we observe that their are movies which has Higher Rating along with Higher Votes still Revenue is not up to the Mark. Year - 2012 (Django Unchained) Year - 2014 (Interstellar) Year - 2006 (The Prestige,The Departed)

Splitting the Genre and Actor Table for another set of visulaizations

In [ ]:
df[['Genre1', 'Genre2','Genre3']] = df['Genre'].str.split(',', 3, expand=True).fillna(value="")
df[['Actor1', 'Actor2','Actor3']] = df['Actors'].str.split(',', 2,expand=True).fillna(value="")

In [ ]:
df.head(10)

In [ ]:
df['Genre2']=df['Genre2'].fillna(df.Genre1, inplace=True)
df['Genre3']=df['Genre3'].fillna(df.Genre1,inplace=True)

In [ ]:
df.head(5)

In [ ]:
df_by_genre1 = df.groupby('Genre1')
df_by_genre2 = df.groupby('Genre2')
df_by_genre3 = df.groupby('Genre3')
agg_genre1=df_by_genre1.sum()
agg_genre2=df_by_genre2.sum()
agg_genre3=df_by_genre3.sum()
ge1_ge2 = agg_genre1.add(agg_genre2, fill_value=0.0)
final_genre = ge1_ge2.add(agg_genre3, fill_value=0.0)
genre_temp=final_genre.reset_index().head(10)
genre_temp

After grouping and adding all the Genre we observe that Action has the maximum Revenue and followed by Adventure.

In [ ]:
sns.set(style="darkgrid")

In [ ]:
fig, ax1 = plt.subplots(figsize = (14,6))

ax2 = ax1.twinx()
ax1.bar(genre_temp['Genre1'],genre_temp['Revenue (Millions)'])
ax2.plot(genre_temp['Genre1'],genre_temp['cnt'], 'o-', color="red" )
ax1.set_xlabel('Genre')
ax1.set_ylabel('Revenue', color='b')
ax2.set_ylabel('No of Movies', color='r')
plt.show()

Genre - Action has maximum numbers of movies and which generates maximum Revenue compared to other Genre. But if we look at Drama and Comedy has on an average 150 nos of movies but generates very less revenue in comparision with other category of Genre and respective Revenues.

Considering the number of movies released in a year the no of releases increaing linearly and year 2016 seems to have spike in no of relases. But Same growth is not observed for Revenue.

In [ ]:
df_year = df.groupby('Year')['cnt'].count().reset_index()
px.line(df_year, x='Year',y='cnt',template='plotly_dark',text='cnt',
        title="No of releases in Year")

In [ ]:
df_Rev = df.groupby('Year')['Revenue (Millions)'].sum().round(1).reset_index()
px.line(df_Rev, x='Year',y='Revenue (Millions)',template='plotly_dark',text='Revenue (Millions)',
        title="Revenue in Years")

In [ ]:
df_2016 = df[df['Year']==2016].copy()
df_temp=df_2016.sort_values(by='Revenue (Millions)',ascending = False).head(10)
px.bar(df_temp,y='Revenue (Millions)',x='Title',color='Genre1',text='Rating',
       title='Most successful Movies/Genre of Year:2016')

Now considering within year 2016 released movies

Top Revenue generating movies in year 2016 and their Ratings !

Captain America and Rouge One is most Revenue generating movies of Year 2016 being below 8 Rating. and on the other hand Deadpool and Zootopia having Rating above 8 still the revenue Ranks at 4th and 5th.

One point to observe here Zootopia belongs to Genre - Animation and that can be one of reason of lagging behine in Revenue but still high in Rating.

In [ ]:
plt.figure(figsize=(10,7),facecolor='white')
sns.distplot(df['Runtime (Minutes)'],bins=10,kde=True)
plt.suptitle("Distribution of Movie by RunTime", fontsize=20)
plt.show()

Most of Movies Belongs to Runtime Range - 90 to 130 Minutes !

In [ ]:
movies_Rev=df.sort_values(by='Revenue (Millions)',ascending = False)[0:10]
px.pie(movies_Rev, values='Revenue (Millions)', names='Actor1',title='Actors vs Revenue Distribution')

In [ ]:
px.pie(movies_Rev, values='Revenue (Millions)', names='Title', title='Movies vs Revenue Distribution')

If We consider the Primary actor of the Movies and and Revenue Generated by respective movie is Robert Downey Jr.

But that is not the case, chances are on the above plot we distribution of Revenue is additing of one or more movies done by respective Actor.

We will further analyse on this part !!

In [ ]:
px.bar(movies_Rev,x='Actor1',y='Revenue (Millions)',color='Votes',
       hover_name='Title', text='Rating',template='plotly_dark')

Now from above Plot, it is clear that why Revenue generated by the Movies of Robert Downey Jr. is Highest amon the all because it has more than one movie.

Also, a intresting point to observe from above plot -> Movie - The Dark Knight got the Highest Rating of 9 and Highest Votes above 1.6M still below average Revenue generated by Movie copare to other Movie and actor

Consider the list of Top Directors and their critic score

In [ ]:
top_director= df.groupby('Director')['Revenue (Millions)'].sum().reset_index()
top_director.sort_values('Revenue (Millions)',ascending =False)[0:5]

In [ ]:
px.bar(movies_Rev,x='Director',y='Revenue (Millions)',
       color='Metascore',hover_name='Title',
       template='plotly_dark',text='Revenue (Millions)', title='Top Directors and Revenue Distribution by Metascore')

In [ ]:
movies_Votes=df.sort_values(by='Votes',ascending = False)[0:20]

px.bar(movies_Votes,x='Actor1',y='Votes',color='Revenue (Millions)',
       hover_name='Title',text='Rating',template='plotly_dark',
      title='Most Popular/Voted Actors')

In [ ]:
px.bar(movies_Votes,x='Title',y='Votes',color='Revenue (Millions)',
       hover_name='Title',text='Metascore',template='plotly_dark',
      title='Most Popular/Voted Movies')

We can extract list of Top Actors by Revenue generated in Movies. 
And from that the distribution of Revenue and Rating for Top Actors is obtained.

In [ ]:
top_Actor = pd.pivot_table(df,index=['Actor1'],
                           values=['Revenue (Millions)','Metascore','Votes','Rating','cnt'],
                           aggfunc={'Revenue (Millions)':np.sum,'Metascore':np.mean,
                                    'Votes':np.mean,'Rating':np.mean,'cnt':np.sum})

In [ ]:
actor = top_Actor.sort_values(by='Revenue (Millions)',
                              ascending = False).reset_index()[0:20]
actor

In [ ]:
px.scatter(actor,y= 'Revenue (Millions)',x= 'Rating', 
           color= 'cnt',size='Rating',text='Actor1',
           title='Revenue Vs Rating of most Popular Actor and No of Movies')

In [ ]:
px.histogram(df, x='Metascore',y='Revenue (Millions)',title='Impact of Metascore on Revenue')

We can observe from the above plot - Metascore from 55 to 70 seems to have highest Revenue !

In [ ]:
movies

In [ ]:
df

In [ ]:
df2=df.copy()

In [ ]:
df2=df2.drop(columns=["Rank","Title","Genre","Description","Actors","Year","Director","cnt","Genre2","Genre3","Actor1","Actor2","Actor3"],axis=1)
df2

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
genre=le.fit_transform(df2['Genre1'])
df2['genre_enc']=genre
df2

In [ ]:
df2['Genre1'].unique()

In [ ]:
df2=df2.drop(columns=['Genre1'],axis=1)
df2

In [ ]:
X=df2.drop("genre_enc",axis=1)
y=df2['genre_enc']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)

In [ ]:
y_pred=regressor.predict(X_test)
np.set_printoptions(precision=2)
#print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),axis=1))

In [ ]:
genres=['Action', 'Adventure', 'Horror', 'Animation', 'Comedy',
       'Biography', 'Drama', 'Crime', 'Mystery', 'Sci-Fi', 'Fantasy',
       'Romance', 'Thriller']

In [ ]:
y_pred=np.rint(y_pred)
a=[]
for i in y_pred:
  a.append(int(i))

a=np.array(a)
a

In [ ]:
print(genres[int(np.round_((regressor.predict([[178,9.1,1600,250,76]]))))])

In [ ]:
df3=df.copy()
df4=df.copy()
df5=df.copy()

In [ ]:
df3=df3.drop(columns=["Rank","Title","Genre","Description","Actors","Year","cnt","Genre2","Genre3","Actor1","Actor2","Actor3"],axis=1)
df4=df4.drop(columns=["Rank","Title","Genre","Description","Actors","Director","Year","cnt","Genre2","Genre3","Actor2","Actor3"],axis=1)
df5=df5.drop(columns=["Rank","Title","Genre","Description","Actors","Director","Year","cnt","Genre2","Genre3","Actor1","Actor3"],axis=1)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
genre=le.fit_transform(df3['Genre1'])
df3['genre_enc']=genre
df3=df3.drop(columns=['Genre1'],axis=1)
df3

In [ ]:
X = df3.drop('Director',axis=1)
y = df3['Director']

from sklearn.model_selection import train_test_split
# implementing train-test-split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn import metrics

In [ ]:
clf = DecisionTreeClassifier()
# Train Decision Tree Classifier
clf = clf.fit(X_train,y_train)
#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [ ]:
!apt-get -qq install -y graphviz && pip install pydot
import pydot

In [ ]:
!pip install six
import six
import sys
sys.modules['sklearn.externals.six'] = six
from IPython.display import Image
from sklearn.tree import export_graphviz
import pydotplus
from six import StringIO

In [ ]:
dot_data = StringIO()
export_graphviz(clf, out_file= dot_data, feature_names=list(X.columns), filled = True, rounded=True)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())

In [ ]:
Image(graph.create_png())

In [ ]:
genre=le.fit_transform(df4['Genre1'])
df4['genre_enc']=genre
df4=df4.drop(columns=['Genre1'],axis=1)
genre=le.fit_transform(df5['Genre1'])
df5['genre_enc']=genre
df5=df5.drop(columns=['Genre1'],axis=1)

In [ ]:
X = df4.drop('Actor1',axis=1)
y = df4['Actor1']

from sklearn.model_selection import train_test_split
# implementing train-test-split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
rfc = RandomForestClassifier()
rfc.fit(X_train,y_train)

In [ ]:
X = df5.drop('Actor2',axis=1)
y = df5['Actor2']

from sklearn.model_selection import train_test_split
# implementing train-test-split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
rfc2 = RandomForestClassifier()
rfc2.fit(X_train,y_train)

In [ ]:
import pickle
pickle.dump(clf, open('DT.pkl', 'wb'))
pickle.dump(rfc, open('RFC.pkl', 'wb'))
pickle.dump(rfc2, open('RFC2.pkl', 'wb'))

In [ ]:
pickle.dump(regressor,open('regressor.pkl','wb'))